.avatar {
  border-radius: 50%;
}

.cover-image {
  border-radius: 6px;
}

.blog-post-card-image {
  width: 100%;
  height: 192px;
}

.hero-image {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
